<a href="https://colab.research.google.com/github/HariGit78/MLtests/blob/main/bigproj_a2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('big data proj').getOrCreate()

In [15]:
from pyspark.sql import functions as F
from pyspark.sql import Window

In [5]:
y21 = spark.read.format("csv").option("header","True").load("/content/branch_data-dec2021.csv")

In [6]:
y22 = spark.read.format("csv").option("header","True").load("/content/branch_data-dec2022.csv")

In [8]:
from pyspark.sql.functions import to_date, col
y21=y21.withColumn("DATE",to_date(col("DATE"),"dd-MM-yyyy"))
y21=y21.withColumn("CurrentDep",col("CurrentDep").cast("Integer"))
y21=y21.withColumn("SavingsDep",col("SavingsDep").cast("Integer"))
y21=y21.withColumn("CASA",col("CASA").cast("Integer"))
y21=y21.withColumn("TermDep",col("TermDep").cast("Integer"))
y21=y21.withColumn("AggregateDep",col("AggregateDep").cast("Integer"))
y21=y21.withColumn("RetailCredit",col("RetailCredit").cast("Integer"))
y21=y21.withColumn("Agriculture",col("Agriculture").cast("Integer"))
y21=y21.withColumn("BusinessCredit",col("BusinessCredit").cast("Integer"))
y21=y21.withColumn("AggregateCredit",col("AggregateCredit").cast("Integer"))
y21=y21.withColumn("AggregateBusiness",col("AggregateBusiness").cast("Integer"))

In [9]:
y21.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: integer (nullable = true)
 |-- SavingsDep: integer (nullable = true)
 |-- CASA: integer (nullable = true)
 |-- TermDep: integer (nullable = true)
 |-- AggregateDep: integer (nullable = true)
 |-- RetailCredit: integer (nullable = true)
 |-- Agriculture: integer (nullable = true)
 |-- BusinessCredit: integer (nullable = true)
 |-- AggregateCredit: integer (nullable = true)
 |-- AggregateBusiness: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [10]:
y21.count()

100

In [11]:
y21.show(1,truncate=False)

+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|Sno|Branches|CurrentDep|SavingsDep|CASA|TermDep|AggregateDep|RetailCredit|Agriculture|BusinessCredit|AggregateCredit|AggregateBusiness|DATE      |
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|1  |BRANCH-1|317       |2051      |2318|2901   |5269        |1225        |915        |844           |3031           |8300             |2021-12-31|
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
only showing top 1 row

In [12]:
y22=y22.withColumn("DATE",to_date(col("DATE"),"dd-MM-yyyy"))
y22=y22.withColumn("CurrentDep",col("CurrentDep").cast("Integer"))
y22=y22.withColumn("SavingsDep",col("SavingsDep").cast("Integer"))
y22=y22.withColumn("CASA",col("CASA").cast("Integer"))
y22=y22.withColumn("TermDep",col("TermDep").cast("Integer"))
y22=y22.withColumn("AggregateDep",col("AggregateDep").cast("Integer"))
y22=y22.withColumn("RetailCredit",col("RetailCredit").cast("Integer"))
y22=y22.withColumn("Agriculture",col("Agriculture").cast("Integer"))
y22=y22.withColumn("BusinessCredit",col("BusinessCredit").cast("Integer"))
y22=y22.withColumn("AggregateCredit",col("AggregateCredit").cast("Integer"))
y22=y22.withColumn("AggregateBusiness",col("AggregateBusiness").cast("Integer"))

In [13]:
y22.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: integer (nullable = true)
 |-- SavingsDep: integer (nullable = true)
 |-- CASA: integer (nullable = true)
 |-- TermDep: integer (nullable = true)
 |-- AggregateDep: integer (nullable = true)
 |-- RetailCredit: integer (nullable = true)
 |-- Agriculture: integer (nullable = true)
 |-- BusinessCredit: integer (nullable = true)
 |-- AggregateCredit: integer (nullable = true)
 |-- AggregateBusiness: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [14]:
y22.show(1,truncate=False)

+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|Sno|Branches|CurrentDep|SavingsDep|CASA|TermDep|AggregateDep|RetailCredit|Agriculture|BusinessCredit|AggregateCredit|AggregateBusiness|DATE      |
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|1  |BRANCH-1|299       |2026      |2325|2956   |5281        |1260        |925        |829           |3014           |8295             |2022-12-31|
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
only showing top 1 row

In [17]:
w=Window.orderBy(F.col("CASA").desc_nulls_last())

In [18]:
top5_y21=(y21.withColumn("rnk",F.dense_rank().over(w)).where(F.col("rnk")<=5).select("branches","CASA").orderBy(F.col("CASA").desc(),F.col("branches").asc()))

**Print top 5 branches with CASA accounts in 2021**

In [19]:
top5_y21.show(truncate=False)

+---------+----+
|branches |CASA|
+---------+----+
|BRANCH-19|2490|
|BRANCH-44|2489|
|BRANCH-96|2488|
|BRANCH-25|2487|
|BRANCH-9 |2484|
+---------+----+

In [20]:
top5_y22=(y22.withColumn("rnk",F.dense_rank().over(w)).where(F.col("rnk")<=5).select("branches","CASA").orderBy(F.col("CASA").desc(),F.col("branches").asc()))

**Print top 5 branches with CASA accounts in 2022**

In [21]:
top5_y22.show(truncate=False)

+---------+----+
|branches |CASA|
+---------+----+
|BRANCH-12|2409|
|BRANCH-46|2408|
|BRANCH-18|2406|
|BRANCH-83|2400|
|BRANCH-21|2399|
|BRANCH-99|2399|
+---------+----+

Find total Retail Credit, Agre Credit and business Credit accounts in 2021

In [22]:
s21=y21.agg(F.sum("RetailCredit").alias("RetailCredit"),F.sum("Agriculture").alias("Agriculture"),F.sum("BusinessCredit").alias("BusinessCredit"))

In [23]:
s21.show(truncate=False)

+------------+-----------+--------------+
|RetailCredit|Agriculture|BusinessCredit|
+------------+-----------+--------------+
|129246      |90061      |90057         |
+------------+-----------+--------------+

Find total Retail Credit, Agre Credit and business Credit accounts in 2022

In [24]:
s22=y22.agg(F.sum("RetailCredit").alias("RetailCredit"),F.sum("Agriculture").alias("Agriculture"),F.sum("BusinessCredit").alias("BusinessCredit"))

In [25]:
s22.show(truncate=False)

+------------+-----------+--------------+
|RetailCredit|Agriculture|BusinessCredit|
+------------+-----------+--------------+
|130512      |90071      |90042         |
+------------+-----------+--------------+

**Find the change in percentage of these accounts over previous years branch wise**

In [ ]:
# cross join the two single row data frames to have both years in one row

In [27]:
both=s21.crossJoin(s22)

In [31]:
# compute % change =((sum_22 - sum_21) / Nullif(sum_21,0))*100, rounded to 2
# Fix: Rename columns of s21 and s22 before joining to avoid ambiguous column names.
s21_renamed = s21.select(
    F.col("RetailCredit").alias("RetailCredit_21"),
    F.col("Agriculture").alias("Agriculture_21"),
    F.col("BusinessCredit").alias("BusinessCredit_21")
)
s22_renamed = s22.select(
    F.col("RetailCredit").alias("RetailCredit_22"),
    F.col("Agriculture").alias("Agriculture_22"),
    F.col("BusinessCredit").alias("BusinessCredit_22")
)

# Perform the cross join with the renamed DataFrames
both_renamed = s21_renamed.crossJoin(s22_renamed)

result=(both_renamed.select(
                F.round(
                    (F.col("RetailCredit_22")-F.col("RetailCredit_21")) /
								  F.when(F.col("RetailCredit_21")!=0, F.col("RetailCredit_21")) * 100.0,2
								  ).alias("retail_pct_change_22_vs_21"),
								F.round(
								(F.col("Agriculture_22") - F.col("Agriculture_21"))/
								F.when(F.col("Agriculture_21")!=0, F.col("Agriculture_21")) * 100.0,2
								).alias("agri_pct_change_22_vs_21"),
								F.round(
								(F.col("BusinessCredit_22") - F.col("BusinessCredit_21"))/
								F.when(F.col("BusinessCredit_21")!=0, F.col("BusinessCredit_21")) * 100.0,2
								).alias("business_pct_change_22_vs_21")
				)
)

In [32]:
result.show(truncate=False)

+--------------------------+------------------------+----------------------------+
|retail_pct_change_22_vs_21|agri_pct_change_22_vs_21|business_pct_change_22_vs_21|
+--------------------------+------------------------+----------------------------+
|0.98                      |0.01                    |-0.02                       |
+--------------------------+------------------------+----------------------------+