<a href="https://colab.research.google.com/github/HariGit78/MLtests/blob/main/Copy_of_bigproj_a1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('big data proj').getOrCreate()

In [ ]:
from pyspark.sql.types import *

In [ ]:
df_br21 = spark.read.format("csv").option("header","True").load("/content/branch_data-dec2021.csv")

In [ ]:
df_br21.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: string (nullable = true)
 |-- SavingsDep: string (nullable = true)
 |-- CASA: string (nullable = true)
 |-- TermDep: string (nullable = true)
 |-- AggregateDep: string (nullable = true)
 |-- RetailCredit: string (nullable = true)
 |-- Agriculture: string (nullable = true)
 |-- BusinessCredit: string (nullable = true)
 |-- AggregateCredit: string (nullable = true)
 |-- AggregateBusiness: string (nullable = true)
 |-- DATE: string (nullable = true)

In [ ]:
df_br21.show()

+---+---------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|Sno| Branches|CurrentDep|SavingsDep|CASA|TermDep|AggregateDep|RetailCredit|Agriculture|BusinessCredit|AggregateCredit|AggregateBusiness|      DATE|
+---+---------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|  1| BRANCH-1|       317|      2051|2318|   2901|        5269|        1225|        915|           844|           3031|             8300|31-12-2021|
|  2| BRANCH-2|       316|      2001|2407|   2901|        5218|        1319|        960|           881|           3125|             8343|31-12-2021|
|  3| BRANCH-3|       307|      2082|2355|   2985|        5374|        1214|        830|           999|           3089|             8463|31-12-2021|
|  4| BRANCH-4|       307|      2066|2471|   2932|        5305|        1217|       1000|           823|           3114|             8419|31-12-2021|
|  5| BRANCH-5|       311|      2089|2474|   2961|        5361|        1252|        908|           841|           3001|             8362|31-12-2021|
|  6| BRANCH-6|       312|      2071|2482|   2984|        5367|        1230|        928|           950|           3178|             8545|31-12-2021|
|  7| BRANCH-7|       320|      2061|2314|   2954|        5335|        1267|        878|           912|           3073|             8408|31-12-2021|
|  8| BRANCH-8|       303|      2005|2477|   2994|        5302|        1218|        946|           914|           3079|             8381|31-12-2021|
|  9| BRANCH-9|       312|      2008|2484|   2996|        5316|        1395|        946|           956|           3210|             8526|31-12-2021|
| 10|BRANCH-10|       311|      2052|2353|   2921|        5284|        1229|        808|           806|           2950|             8234|31-12-2021|
| 11|BRANCH-11|       314|      2011|2343|   2938|        5263|        1324|        939|           816|           3014|             8277|31-12-2021|
| 12|BRANCH-12|       303|      2033|2442|   2923|        5259|        1280|        848|           908|           3015|             8274|31-12-2021|
| 13|BRANCH-13|       320|      2020|2364|   2995|        5335|        1312|        811|           863|           2880|             8215|31-12-2021|
| 14|BRANCH-14|       318|      2071|2403|   2928|        5317|        1245|        924|           841|           3098|             8415|31-12-2021|
| 15|BRANCH-15|       316|      2029|2413|   2970|        5315|        1354|        834|           958|           3086|             8401|31-12-2021|
| 16|BRANCH-16|       318|      2051|2344|   2931|        5300|        1284|        809|           805|           2906|             8206|31-12-2021|
| 17|BRANCH-17|       320|      2041|2467|   2991|        5352|        1311|        803|           980|           3108|             8460|31-12-2021|
| 18|BRANCH-18|       308|      2070|2432|   2925|        5303|        1202|        978|           814|           3152|             8455|31-12-2021|
| 19|BRANCH-19|       304|      2008|2490|   2934|        5246|        1284|        925|           945|           3183|             8429|31-12-2021|
| 20|BRANCH-20|       312|      2019|2326|   2989|        5320|        1306|        905|           939|           3175|             8495|31-12-2021|
+---+---------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import to_date, col

In [ ]:
df_br21=df_br21.withColumn("DATE",to_date(col("DATE"),"dd-MM-yyyy"))
df_br21=df_br21.withColumn("CurrentDep",col("CurrentDep").cast("Integer"))
df_br21=df_br21.withColumn("SavingsDep",col("SavingsDep").cast("Integer"))
df_br21=df_br21.withColumn("CASA",col("CASA").cast("Integer"))
df_br21=df_br21.withColumn("TermDep",col("TermDep").cast("Integer"))
df_br21=df_br21.withColumn("AggregateDep",col("AggregateDep").cast("Integer"))
df_br21=df_br21.withColumn("RetailCredit",col("RetailCredit").cast("Integer"))
df_br21=df_br21.withColumn("Agriculture",col("Agriculture").cast("Integer"))
df_br21=df_br21.withColumn("BusinessCredit",col("BusinessCredit").cast("Integer"))
df_br21=df_br21.withColumn("AggregateCredit",col("AggregateCredit").cast("Integer"))
df_br21=df_br21.withColumn("AggregateBusiness",col("AggregateBusiness").cast("Integer"))

In [ ]:
df_br21.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: integer (nullable = true)
 |-- SavingsDep: integer (nullable = true)
 |-- CASA: integer (nullable = true)
 |-- TermDep: integer (nullable = true)
 |-- AggregateDep: integer (nullable = true)
 |-- RetailCredit: integer (nullable = true)
 |-- Agriculture: integer (nullable = true)
 |-- BusinessCredit: integer (nullable = true)
 |-- AggregateCredit: integer (nullable = true)
 |-- AggregateBusiness: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [ ]:
df_br21.count()

100

In [ ]:
df_br21.show(1,truncate=False)

+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|Sno|Branches|CurrentDep|SavingsDep|CASA|TermDep|AggregateDep|RetailCredit|Agriculture|BusinessCredit|AggregateCredit|AggregateBusiness|DATE      |
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
|1  |BRANCH-1|317       |2051      |2318|2901   |5269        |1225        |915        |844           |3031           |8300             |2021-12-31|
+---+--------+----------+----------+----+-------+------------+------------+-----------+--------------+---------------+-----------------+----------+
only showing top 1 row

In [ ]:
df_br21.registerTempTable("br1")

/usr/local/lib/python3.12/dist-packages/pyspark/sql/classic/dataframe.py:178: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

Print top 5 branches with CASA accounts in 2021

In [ ]:
q1=spark.sql("select branches,casa from (select branches, casa, dense_rank() over (order by casa desc) as rnk from br1 ) where rnk <=5 order by casa desc, branches")

In [ ]:
q1.show()

+---------+----+
| branches|casa|
+---------+----+
|BRANCH-19|2490|
|BRANCH-44|2489|
|BRANCH-96|2488|
|BRANCH-25|2487|
| BRANCH-9|2484|
+---------+----+

find total retail credit, agri credit and business credit accounts in 2021

In [ ]:
q2=spark.sql("select sum(retailcredit) as tot_retail_cr_2021, sum(agriculture) as tot_agri_cr_2021, sum(businesscredit) as tot_bus_cr_2021 from br1")

In [ ]:
q2.show()

+------------------+----------------+---------------+
|tot_retail_cr_2021|tot_agri_cr_2021|tot_bus_cr_2021|
+------------------+----------------+---------------+
|            129246|           90061|          90057|
+------------------+----------------+---------------+

In [ ]:
df_br22 = spark.read.format("csv").option("header","True").load("/content/branch_data-dec2022.csv")

In [ ]:
df_br22.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: string (nullable = true)
 |-- SavingsDep: string (nullable = true)
 |-- CASA: string (nullable = true)
 |-- TermDep: string (nullable = true)
 |-- AggregateDep: string (nullable = true)
 |-- RetailCredit: string (nullable = true)
 |-- Agriculture: string (nullable = true)
 |-- BusinessCredit: string (nullable = true)
 |-- AggregateCredit: string (nullable = true)
 |-- AggregateBusiness: string (nullable = true)
 |-- DATE: string (nullable = true)

In [ ]:
df_br22=df_br22.withColumn("DATE",to_date(col("DATE"),"dd-MM-yyyy"))
df_br22=df_br22.withColumn("CurrentDep",col("CurrentDep").cast("Integer"))
df_br22=df_br22.withColumn("SavingsDep",col("SavingsDep").cast("Integer"))
df_br22=df_br22.withColumn("CASA",col("CASA").cast("Integer"))
df_br22=df_br22.withColumn("TermDep",col("TermDep").cast("Integer"))
df_br22=df_br22.withColumn("AggregateDep",col("AggregateDep").cast("Integer"))
df_br22=df_br22.withColumn("RetailCredit",col("RetailCredit").cast("Integer"))
df_br22=df_br22.withColumn("Agriculture",col("Agriculture").cast("Integer"))
df_br22=df_br22.withColumn("BusinessCredit",col("BusinessCredit").cast("Integer"))
df_br22=df_br22.withColumn("AggregateCredit",col("AggregateCredit").cast("Integer"))
df_br22=df_br22.withColumn("AggregateBusiness",col("AggregateBusiness").cast("Integer"))

In [ ]:
df_br22.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Branches: string (nullable = true)
 |-- CurrentDep: integer (nullable = true)
 |-- SavingsDep: integer (nullable = true)
 |-- CASA: integer (nullable = true)
 |-- TermDep: integer (nullable = true)
 |-- AggregateDep: integer (nullable = true)
 |-- RetailCredit: integer (nullable = true)
 |-- Agriculture: integer (nullable = true)
 |-- BusinessCredit: integer (nullable = true)
 |-- AggregateCredit: integer (nullable = true)
 |-- AggregateBusiness: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [ ]:
df_br22.registerTempTable("br2")

/usr/local/lib/python3.12/dist-packages/pyspark/sql/classic/dataframe.py:178: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

Print top 5 branches with CASA accounts in 2022

In [ ]:
q3=spark.sql("select branches,casa from (select branches, casa, dense_rank() over (order by casa desc) as rnk from br2 ) where rnk <=5 order by casa desc, branches")

In [ ]:
q3.show()

+---------+----+
| branches|casa|
+---------+----+
|BRANCH-12|2409|
|BRANCH-46|2408|
|BRANCH-18|2406|
|BRANCH-83|2400|
|BRANCH-21|2399|
|BRANCH-99|2399|
+---------+----+

find total retail credit, agri credit and business credit accounts in 2022

In [ ]:
q4=spark.sql("select sum(retailcredit) as tot_retail_cr_2022, sum(agriculture) as tot_agri_cr_2022, sum(businesscredit) as tot_bus_cr_2022 from br2")

In [ ]:
q4.show()

+------------------+----------------+---------------+
|tot_retail_cr_2022|tot_agri_cr_2022|tot_bus_cr_2022|
+------------------+----------------+---------------+
|            130512|           90071|          90042|
+------------------+----------------+---------------+